html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #666;
}

/*
 * Needed to use absolute to enable scrolling within this wrapper, not the body.
 * This is necessary to correctly show the dark theme when there is scrollable content below 100%
 */
.wrapper {
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    overflow-y: auto;
}

.content {
    margin: auto;
    position: absolute;
    top: 48px; left: 0; bottom: 0; right: 0;
    max-height: 700px;
    max-width: 618px;
}

.skin-Button--noBorder {
    border: none;
    font-size: inherit;
    outline: none;
    padding: 5px;
    margin: 10px;
    background: none;
    cursor: pointer;

    color: #ccc;
}
.skin-Button--noBorder:hover {
    color: #666;
}

.AppMode {
    list-style: none;
    display: flex;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}

.DomainPicker {
    float: right;
    color: #ccc;
    font-size: 14px;
    text-align: right;
}
.DomainPicker-button {
    color: inherit;
    border: none;
    font-size: inherit;
    outline: none;
    padding: 5px;
    margin: 10px 10px 0;
    cursor: pointer;

    background: white;
    border-bottom: 1px solid transparent;
}
.DomainPicker-button:hover,
.DomainPicker-button.is-active {
    color: #666;
}
.DomainPicker-button.is-active:hover {
    border-bottom: 1px solid;
}
.DomainPicker-button.is-alert {
    color: #CF5C60;
}
.DomainPicker-menu {
    visibility: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    right: 0;
    position: absolute;
    z-index: 1;

    background: white;
}
.DomainPicker-menu.is-open {
    visibility: visible;
}
.DomainPicker-menuItem {
    margin: 15px 10px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}
/*.DomainPicker-menuItem:first-child {*/
    /*margin-top: 0;*/
/*}*/
.DomainPicker-menuItemText {
    padding: 5px;
}
.DomainPicker-menuItem:hover .DomainPicker-menuItemText{

    border-bottom: 1px solid #666;
}

.emoji {
    height: 20px;
    opacity: 0.75;
}

.GoTo {
    text-align: center;
    margin-top: 40px;
}
.GoTo-button {
    color: #ccc;
    border: 1px solid;
    font-size: 16px;
    outline: none;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
}
.GoTo-button:hover {
    cursor: pointer;
}
.is-salesforce .GoTo-button:hover {
    color: #2A94D6;
}
.is-chatter .GoTo-button:hover {
    color: #4EB1CB;
}
.is-google .GoTo-button:hover {
    color: #F3AE4E;
}

.Items {
    margin-top: 40px;
}
.ItemLink {
    text-decoration: none;
}
.Item {
    color: #666;
    margin: 20px 0;

    border-bottom: 1px solid #ccc;
}
.Item:hover {
    cursor: pointer;
}
.Item:hover .Item-icon {
    opacity: 1;
}

.is-google .Item:hover .ItemText {
    color: #F3AE4E;
}
.is-google .Item:hover .ItemText-description {
    color: #F3AE4E;
}
.is-salesforce .Item:hover .ItemText {
    color: #2A94D6;
}
.is-salesforce .Item:hover .ItemText-description {
    color: #2A94D6;
}

.Item-icon {
    display: inline-block;
    width: 32px;
    height: 34px;
    opacity: 0.5;
}
.ItemIcon-img {
    margin: 9px 8px;
    height: 16px;
    width: 16px;
}
.ItemText {
    display: inline-block;
    width: calc(100% - 32px);
    height: 34px;
    line-height: 34px;
}

.ItemText-title,
.ItemText-description {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 10px;
}
.ItemText-title {
    max-width: 70%;
    text-align: left;
    font-size: 16px;
}
.ItemText-description {
    max-width: 30%;
    float:right;
    text-align: right;
    font-size: 12px;
}

.Mode {
    flex-grow: 1;
    width: 33%;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;

    color: #ccc;
    text-decoration: none;
    font-size: 30px;
    font-variant: small-caps;
    text-align: center;
}
.Mode.is-active {
    color: #666;
}
.Mode:hover {
    margin: 0 2px;
    width: calc(33% - 4px);
}
.Mode.is-active:hover {
    margin: 0;
    width: 33%;
}

.Mode.is-salesforce:hover {
    color: #2A94D6;
    border-bottom: 4px solid #2A94D6;


}
.Mode.is-salesforce.is-active {
    color: #666;
    border-bottom: 4px solid #2A94D6;
}
.Mode.is-salesforce.is-active:hover {
    color: #2A94D6;
}

.Mode.is-chatter:hover {
    color: #4EB1CB;
    border-bottom: 4px solid #4EB1CB;
}
.Mode.is-chatter.is-active {
    color: #666;
    border-bottom: 4px solid #4EB1CB;
}
.Mode.is-chatter.is-active:hover{
    color: #4EB1CB;
}

.Mode.is-google:hover {
    color: #F3AE4E;
    border-bottom: 4px solid #F3AE4E;
}
.Mode.is-google.is-active {
    color: #666;
    border-bottom: 4px solid #F3AE4E;
}
.Mode.is-google.is-active:hover {
    color: #F3AE4E;
}

.Post {
    margin: 20px 0;
    color: #666;
    border-bottom: 1px solid #ccc;
}
.Post:hover {
    color: #4EB1CB;
    border-color: #4EB1CB;
}
.Post:hover .PostHeader-bottomBar{
    color: #4EB1CB;
}
.Post:hover .Post-img,
.Post:hover .emoji {
    opacity: 1;
}
.Post-img {
    display: inline-block;
    margin: 5px;
    width: 38px;
    height: 38px;
    vertical-align: top;
    opacity: 0.75;
}
.Post-header{
    display: inline-block;
    width: calc(100% - 48px);
    vertical-align: top;
    margin: 5px 0;
}
.PostHeader-topBar {
    display: inline-block;
    height: 24px;
    width: 100%;
}
.Post-message {
    margin: 10px;
    max-height: 73px;
    font-size: 14px;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}
.TopBar-source {
    display: inline-block;
    font-size: 16px;
    text-align: left;
}
.TopBar-postMetaData {
    display: inline-block;
    float: right;
    text-align: right;
}
.PostHeader-bottomBar {
    font-size: 12px;
    color: #aaa;
}
.PostMetaData-item {
    margin: 0 5px;
}

.SearchBar {
    display: flex;
    margin-top: 40px;
}
.SearchBar-input {
    height: 34px;
    width: 94%;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    border: 2px solid;
}
.SearchBar-input.is-salesforce {
    border-color: #2A94D6;
}
.SearchBar-input.is-chatter {
    border-color: #4EB1CB;
}
.SearchBar-input.is-google {
    border-color: #F3AE4E;
}
.SearchBar-button {
    height: 38px;
    width: 6%;
    border: none;
    font-size: 18px;
    color: white;
    outline: none;
    cursor: pointer;
}
.SearchBar-button.is-salesforce {
    background: #2A94D6;
}
.SearchBar-button.is-chatter {
    background: #4EB1CB;
}
.SearchBar-button.is-google {
    background: #F3AE4E;
}

/* ------ THEMES ------- */

.wrapper.dark-theme {
    background-color: #222;
    color: #666;
}

.dark-theme input {
    background-color: #222;
    color: #ccc;
}

.dark-theme .skin-Button--noBorder {
    color: #666;
}
.dark-theme .skin-Button--noBorder:hover {
    color: #ccc;
}

.dark-theme .DomainPicker {
    color: #666;
}
.dark-theme .DomainPicker-button {
    background: #222;
}
.dark-theme .DomainPicker-button:hover,
.dark-theme .DomainPicker-button.is-active {
    color: #ccc;
}
.dark-theme .DomainPicker-menu {
    background: #222;
}
.dark-theme .DomainPicker-menuItem:hover .DomainPicker-menuItemText{
    border-color: #ccc;
}

.dark-theme .GoTo-button {
    color: #666;
}

.dark-theme .Item {
    color: #ccc;
    border-color: #666;
}

.dark-theme .Mode {
    border-color: #666;
    color: #666;
}
.dark-theme .Mode.is-active {
    color: #aaa;
}

.dark-theme .Post {
    color: #ccc;
    border-color: #666;
}
.dark-theme .Post:hover {
    color: #4EB1CB;
    border-color: #4EB1CB;
}