html, body {
    height: 100%;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #293f54;
}

.skin-Button {
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #dfe0e1;
    color: #525354;
    background-color: white;
    padding: 7px;
    margin: 5px 15px;
    outline: none;
    cursor: pointer;
}
.skin-Button:active {
    background: #edeff0;
}
.skin-Button.is-active {
    background: #2a94d6;
    border-color: #2a94d6;
    color: white;
}
.skin-Button.is-error:hover {
    color: #CF5C60;
}
.skin-Button.is-active:active {
    background: #1378b7;
}

.wrapper {
     height: 100%;
}
.wrapper.is-salesforce {
    /*background-color: #F0F1F2;*/
    background-color: white;
}
.wrapper.is-chatter {
    /*background-color: #CF5C60;*/
    background-color: white;
}
.wrapper.is-google {
    /*background-color: #F3AE4E;*/
    background-color: white;
}

.centered {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    max-height: 618px;
    max-width: 618px;
    /*margin: 20px;*/
}


.appMode {
    list-style: none;
    display: flex;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}

.Item {
    color: #666;
    margin: 20px 10px;

    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
}
.Item:hover {
    cursor: pointer;
    /*color: #F3AE4E;*/
    /*color: #666;*/

    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.6);
}
.Item:hover .ItemText{

    /*background-color: #F3AE4E;*/
}
/*.Item:hover .Item-icon {*/
    /*background-color: #F3AE4E;*/
/*}*/
.Item:hover .ItemText-description {
    /*color: blue;*/
    color: #F3AE4E;
}

.Item-icon {
    display: inline-block;
    width: 32px;
    height: 34px;
    opacity: 0.5;
    /*border: 1px solid;*/
}
.Item:hover .Item-icon {
    opacity: 1;
    /*color: white;*/
    /*color: #666;*/
}
.ItemIcon-img {
    margin: 9px 8px;
    height: 16px;
    width: 16px;
}
.ItemText {
    display: inline-block;
    width: calc(100% - 35px);
    height: 34px;
    line-height: 34px;

    /*margin: 10px 0;*/
    /*border: 1px solid;*/
    /*border-left: none;*/
}

.ItemText-title,
.ItemText-description {
    display: inline-block;
    /*width: calc(50% - 20px);*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 10px;

    /*max-height: 34px;*/
}
.ItemText-title {
    max-width: 70%;
    text-align: left;
    font-size: 16px;
}
.ItemText-description {
    max-width: 30%;
    float:right;
    text-align: right;
    font-size: 12px;
}

.Mode {
    flex-grow: 1;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;

    color: #ccc;
    text-decoration: none;
    font-size: 30px;
    font-variant: small-caps;
    text-align: center;
}
.Mode.is-active {
    color: #666;
}

.Mode.is-salesforce:hover {
    color: #2A94D6;
    border-bottom: 4px solid #2A94D6;
}
.Mode.is-salesforce.is-active,
.Mode.is-salesforce.is-active:hover {
    color: #666;
    border-bottom: 4px solid #2A94D6;
}

.Mode.is-chatter:hover {
    color: #4EB1CB;
    border-bottom: 4px solid #4EB1CB;
}
.Mode.is-chatter.is-active,
.Mode.is-chatter.is-active:hover{
    color: #666;
    border-bottom: 4px solid #4EB1CB;
}

.Mode.is-google:hover {
    color: #F3AE4E;
    border-bottom: 4px solid #F3AE4E;
}
.Mode.is-google.is-active,
.Mode.is-google.is-active:hover {
    color: #666;
    border-bottom: 4px solid #F3AE4E;
}

.SearchBar {
    display: flex;
    margin-top: 40px;
    /*height: 20px;*/
}
.SearchBar-input {
    height: 34px;
    width: 94%;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    border: 2px solid;
}
.SearchBar-input.is-salesforce {
    border-color: #2A94D6;
}
.SearchBar-input.is-chatter {
    border-color: #4EB1CB;
}
.SearchBar-input.is-google {
    border-color: #F3AE4E;
}
.SearchBar-button {
    height: 38px;
    width: 6%;
    border: none;
    font-size: 18px;
    color: white;
    outline: none;
    cursor: pointer;
}
.SearchBar-button.is-salesforce {
    background: #2A94D6;
}
.SearchBar-button.is-chatter {
    background: #4EB1CB;
}
.SearchBar-button.is-google {
    background: #F3AE4E;
}

.items {
    margin-top: 40px;
}

.Authorize {
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 50px 0;
    background-color: white;
}

.Authorize-button {
    margin: 10px;
    width: calc(50% - 20px);
}